<div>
    {{title}}
</div>
<div>
  <label> User Name </label>
  <input type="text" name="user_name" id="user_name" [(ngModel)]="username" />
</div>
<div>
  <input type="button" name="submit" id="submit" (click)="getServiceResponse()" value="submit"/>
</div>
<div>
{{response|json}}
</div>
<router-outlet></router-outlet>
